nav{
    height: 100%;
    background-color:lightblue;
}

#rotate{
    margin: 100% 0;
    padding-top:40%;
    writing-mode: vertical-lr;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: white;
}   