.subinfo{
    font-size: smaller;
    text-align: right;

}
nav ul{
    margin-left: auto;
}

#first,#second,#third
{
    padding: 1rem;
    float: left;
    padding-left: 2.5%;
    height: 100%;
}

#first,#third
{
    width: 25%;

}

#second
{
    width: 50%;
}

#doubts{
    padding: 0.5rem;
    box-sizing: border-box;
    position: sticky;
    box-shadow: 0 4px 4px 0 rgba(128, 7, 242, 0.11);
    border-radius: 50px;
}

#actual-btn{
    background-color: indigo;
    padding: 2%;
    color: white;
    border-radius: 0.5rem;
}

#button{
    background-color: rgb(91, 57, 120);
    margin-top: 0.8em;
    margin-right: 10px;
    height: 2.5em;
    width: 4em;
    color: aliceblue;
}

#send{
    margin: 15px;
}

#search{
    margin: 1px auto auto -20px;
    background-color: cyan;
    border-radius: 50%;
}