#navigationBar
        {
            background-color: violet;
        }
.display{
    margin-top: 1rem;
    height: 30em;
    width: 100%;
}

#display1{
    background-image: url("{{static}}/static/computer_science.jfif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#display2{
    background-image: url("{{static}}/static/maths.jfif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#display3{
    background-image: url("{{static}}/static/literature.jfif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#display1 p {
    opacity: 0.6;
}