@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");
body {
  background-repeat: round;
  background-size: contain;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.7;
  /* color: #ffeba7; */
}
.navbar {
  background-color: #2b2e38;
  padding-left: 16px;
  padding-right: 16px;
}
.rounded-circle {
  height: 050px;
  width: 50px;
  margin-right: 2%;
}
.login-circle {
  background-color: #ffffff;
  height: 030px;
  width: 30px;
  margin: 10px;
  border-radius: 100px;
}
#Webname {
  font-size: 30px;
}
nav ul {
  margin-left: auto;
}
nav ul li {
  margin-left: 10px;
}
.navbar-brand {
  margin-right: auto;
}

#intro {
  opacity: 1;
  cursor: pointer;
  border-radius: 5px;
  background: #ffeba7;
  box-shadow: 10px 10px 10px rgba(161, 137, 137, 0.1);
  padding: 3rem;
}

#syllabus {
  opacity: 1;
  cursor: pointer;
  border-radius: 5px;
  background: rgba(111, 22, 22, 0.1);
  box-shadow: 10px 10px 10px rgba(161, 137, 137, 0.1);
  padding: 3rem;
}

#intro:hover {
  transform: scale(1.05, 1.05);
}

#syllabus:hover {
  transform: scale(1.05, 1.05);
}

#result:hover {
  transform: scale(1.05, 1.05);
}

h1 {
  margin-top: 1%;
}
.contact-content {
  width: 40%;
  margin: 40px auto 60px;
}
.bottom-container {
  text-align: center;
  background-color: #2b2e38;
  padding: 50px 0 20px;
}
.btnn {
  background: #30e383cf;
  background-image: -webkit-linear-gradient(top, #30e383cf, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e383cf, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e383cf, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e383cf, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e383cf, #2bc4ad);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btnn:hover {
  background: #30e3cd;
  background-image: -webkit-linear-gradient(top, #30e3cd, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cd, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cd, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cd, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cd, #2bc4ad);
  text-decoration: none;
  color: #ffffff;
}

.contact-me {
  text-align: center;
}

.copyright {
  color: antiquewhite;
  padding: 20px 0;
}
