@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");
body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.7;
}

/* body {
  background-image: url("../icon/Colorful\ Illustrative\ School\ Zoom\ Virtual\ Background_20240405_143303_0004.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

.navbar {
  background-color: #2b2e38;
  padding-left: 16px;
  padding-right: 16px;
}
.rounded-circle {
  height: 050px;
  width: 50px;
  margin-right: 2%;
}
.login-circle {
  background-color: #ffffff;
  height: 030px;
  width: 30px;
  margin: 10px;
  border-radius: 100px;
}
#Webname {
  font-size: 30px;
}
.home {
  margin-left: 720px;
}
