nav div{
    margin-left: auto;
}

#add{
    position: fixed;
    background-color: rgb(144, 187, 205);
    bottom: 1em;
    right: 2em;
    width: 7rem;
    height: 7rem;
    border-radius: 5rem;
}

#add a{
    text-decoration: none;
    color: white;
}